<!DOCTYPE html>
<html lang="zh-cn" class="no-js">
<head>
    <meta http-equiv="Content-Type">
    <meta content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <title>黄海个人简历-应聘安卓工程师</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link rel="stylesheet" type="text/css" href="/tp5/public/static/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/tp5/public/static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="/tp5/public/static/css/animations.css"/>

    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->


    <script src="/tp5/public/static/js/zepto.min.js"></script>
    <script src="/tp5/public/static/js/touch.js"></script>


    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->

    <script src="/tp5/public/static/js/index.js"></script>

</head>
<body>
<audio id="musicfx" class="audio" loop="loop" autoplay="autoplay">
    <source src="/tp5/public/static/audio/1.mp3" type="audio/mp3">
</audio>


<div>
    <div id="div_music" class="music" onclick="musicClick()">
        <img width="60px" height="60px" id="img_music" src="/tp5/public/static/img/music.png">
    </div>
    <div class="page page-1-1 page-current">
        <div class="wrap">
            <img class="img_1 pt-page-moveFromTop" src="/tp5/public/static/img/7-2.png"/>
            <img class="img_2 pt-page-moveFromLeft" src="/tp5/public/static/img/2.png"/>

            <img class="img_3 pt-page-moveIconUp" src="/tp5/public/static/img/icon_up.png"/>
        </div>
    </div>
    <div class="page page-2-1 hide">
        <div class="wrap">
            <img class="img_1 hide pt-page-moveFromBottom" src="/tp5/public/static/img/5.png"/>
            <img class="img_2 hide pt-page-moveCircle" src="/tp5/public/static/img/4.png"/>
            <!--<img class="img_3 hide pt-page-moveFromLeft" src="img/people.png" />-->
            <img class="img_4 hide pt-page-scaleUp" src="/tp5/public/static/img/dot1.png"/>
            <img class="img_5 hide pt-page-scaleUp" src="/tp5/public/static/img/8.png"/>
            <img class="img_6 hide pt-page-moveIconUp" src="/tp5/public/static/img/icon_up.png"/>
            <img class="img_7 hide pt-page-scaleUp" src="/tp5/public/static/img/floating_develop.png"/>
        </div>
    </div>
    <div class="page page-2-2 hide">


        <div class="wrap">

            <img class="img_1 hide pt-page-flipInLeft" src="/tp5/public/static/img/9.png"/>

            <img class="img_3 hide pt-page-flipInLeft" src="/tp5/public/static/img/dot2.png"/>
            <img class="img_6 hide pt-page-moveIconUp" src="/tp5/public/static/img/icon_up.png"/>
        </div>
    </div>
    <div class="page page-3-1 hide">
        <div class="wrap">
            <img class="img_1 hide pt-page-moveFromBottom" src="/tp5/public/static/img/13.png"/>
            <img class="img_2 hide pt-page-moveCircle" src="/tp5/public/static/img/circle-design.png"/>
            <img class="img_3 pt-page-moveFromBottom hide" src="/tp5/public/static/img/people_design.png"/>
            <img class="img_4 hide pt-page-scaleUp" src="/tp5/public/static/img/dot1.png"/>
            <img class="img_5 hide pt-page-scaleUp" src="/tp5/public/static/img/14.png"/>
            <img class="img_6 hide pt-page-moveIconUp" src="/tp5/public/static/img/icon_up.png"/>
            <img class="img_7 hide pt-page-scaleUp" src="/tp5/public/static/img/floating_design.png"/>
        </div>
    </div>
    <div class="page page-3-2 hide">


        <div class="pro_div">

            <div class="pro_div1">


                <div class="pro_div3">
                    <div class="pro_div2">
                        <span class="span1">JAVA:</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80"
                             aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            <span class="sr-only">80%</span>
                        </div>
                    </div>
                </div>

                <div class="pro_div3">
                    <div class="pro_div2">
                        <span class="span1">PHP:</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="75"
                             aria-valuemin="0"
                             aria-valuemax="100" style="width: 75%">
                            <span class="sr-only">75%</span>
                        </div>
                    </div>
                </div>

                <div class="pro_div3">
                    <div class="pro_div2">
                        <span class="span1">HTML5:</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="75"
                             aria-valuemin="0"
                             aria-valuemax="100" style="width: 75%">
                            <span class="sr-only">75%</span>
                        </div>
                    </div>
                </div>

                <div class="pro_div3">
                    <div class="pro_div2">
                        <span class="span1">CSS3:</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="75"
                             aria-valuemin="0"
                             aria-valuemax="100" style="width: 75%">
                            <span class="sr-only">75%</span>
                        </div>
                    </div>
                </div>
                <div class="pro_div3">
                    <div class="pro_div2">
                        <span class="span1">JS:</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="75"
                             aria-valuemin="0"
                             aria-valuemax="100" style="width: 75%">
                            <span class="sr-only">75%</span>
                        </div>
                    </div>
                </div>


                <div class="pro_div3">
                    <div class="pro_div2">
                        <span class="span1">C++:</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                            <span class="sr-only">60%</span>
                        </div>
                    </div>
                </div>


                <div class="pro_div3">
                    <div class="pro_div2">
                        <span class="span1">Linux:</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                            <span class="sr-only">60%</span>
                        </div>
                    </div>
                </div>


            </div>

        </div>

        <div class="wrap">

            <!--<img class="img_7 hide pt-page-flipInLeft" src="img/android.png"/>
            <img class="img_8 hide pt-page-flipInLeft" src="img/axure.png"/>
            <img class="img_9 hide pt-page-flipInLeft" src="img/html5.png"/>
            <img class="img_10 hide pt-page-flipInLeft" src="img/javascript.png"/>
            <img class="img_11 hide pt-page-flipInLeft" src="img/ps.png"/>
            <img class="img_12 hide pt-page-flipInLeft" src="img/videostudio.png"/>

            <img class="img_3 hide pt-page-flipInLeft" src="img/dot2.png"/>
            <img class="img_6 hide pt-page-moveIconUp" src="img/icon_up.png"/>-->
        </div>
    </div>

    <div class="page page-4-1 hide">
        <div class="wrap">
            <img class="img_1 hide pt-page-moveFromBottom" src="/tp5/public/static/img/16.png"/>
            <img class="img_2 hide pt-page-moveCircle" src="/tp5/public/static/img/circle-production.png"/>
            <img class="img_3 pt-page-moveFromRight hide" src="/tp5/public/static/img/people_production.png"/>
            <img class="img_4 hide pt-page-scaleUp" src="/tp5/public/static/img/dot1.png"/>
            <img class="img_5 hide pt-page-scaleUp" src="/tp5/public/static/img/18.png"/>
            <img class="img_6 hide pt-page-moveIconUp" src="/tp5/public/static/img/icon_up.png"/>
            <img class="img_7 hide pt-page-scaleUp" src="/tp5/public/static/img/floating_production.png"/>
            <img class="img_8 hide pt-page-scaleUp" src="/tp5/public/static/img/pic_shadow_production.png"/>
        </div>
    </div>

    <div class="page page-4-2 hide">
        <div class="wrap">

           <!-- <img class="img_7 hide pt-page-flipInLeft" src="/tp5/public/static/img/19.png"/>
            <img class="img_8 hide pt-page-flipInLeft" src="/tp5/public/static/img/mjb.png"/>
            <img class="img_9 hide pt-page-flipInLeft" src="/tp5/public/static/img/20.png"/>
            <img class="img_10 hide pt-page-flipInLeft" src="/tp5/public/static/img/cjyy.png"/>-->

            <img class="img_3 hide pt-page-flipInLeft" src="/tp5/public/static/img/dot2.png"/>
            <img class="img_6 hide pt-page-moveIconUp" src="/tp5/public/static/img/icon_up.png"/>
        </div>
    </div>
    <div class="page page-5-1 hide">
        <div class="wrap">
            <img class="img_1 hide pt-page-rotateCubeBottomIn" src="/tp5/public/static/img/12.png"/>
            <a class="aclass" onclick="doPOst()"><img class="img_2 hide pt-page-rotateCubeTopIn"
                                                      src="/tp5/public/static/img/11.png"/></a>
        </div>
        <div id="myinputdiv" class="myinputdiv">
            <input id="in1" class="form-control input-lg" type="text" placeholder="输入您的姓名">
            <input id="in2" class="form-control input-lg" type="text" placeholder="输入您的邮箱">
            <input id="in3" class="form-control input-lg" type="text" placeholder="输入您的电话">
            <button type="button" id="close" class="btn btn-info" onclick="closeDiv()">关闭</button>
            <button type="button" id="submit" class="btn btn-info" onclick="submitInfo()">提交</button>


        </div>
    </div>

</div>
<script src="/tp5/public/static/js/zepto.min.js"></script>
<script src="/tp5/public/static/js/touch.js"></script>
<script src="/tp5/public/static/js/index.js"></script>
<script src="/tp5/public/static/js/index.js"></script>
</body>
</html>
